*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.geral{
  height: 100vh;
  width: 100%;
  align-content: center;
  text-align: center;
}
h1{
  justify-self: anchor-center;
  position: absolute;
  top: 10px;
}
button{
  height: 8%;
  width: 8%;
  border:1px solid rgba(0, 0, 0, 0.356);
  border-radius: 20px;
  background: none;
  font-size:larger;
}